<header>
</header>
<body class="gradient-custom h-100">
  <div class="container border border-5 rounded shadow-lg p-3 mb-5 rounded">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <!-- Contenido del GIF (40%) -->
            <img id="img_home" src="assets\foto_cv.jpg" alt="foto_cv" class="img-fluid">
          </div>
      <div class="col-md-8">
        <div class="d-flex justify-content-center">
          <p id="titulo_productos" class="h1">Quien Soy?</p>
        </div>
        <p class="text-center">Parziale Jeremias Ariel</p>
        <p class="text-center">DNI: 42.839.805.</p>
        <p class="text-center">Laboratorio IV 4°B</p>
        <p class="text-center">Juego de reaccion!</p>
        <p class="text-center">El mismo consiste en una cuadricula de 16*16 en la cual una de ellas cambiara a un color distinto teniendo el jugador 10 segundos para clickear en esta, de otra forma perdera la partida. <br>A su vez a medida que el jugador avance de nivel el tiempo de reaccion se reducira en un segundo hasta llegar a 1 y ser el ganador.</p>
      </div>
    </div>
  </div>
</body>

 

  