<section class="min-vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-8">

        <div class="card h-100 border border-dark border-5" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-8 col-lg-8 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black d-flex justify-content-center align-items-center">
                <ng-container *ngIf="!cargando">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Cargando...</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="cargando">
                  <form>
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Ingresa con tu cuenta</span>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example17">Email</label>
                      <input [(ngModel)]="usuario.email" type="email" id="form2Example17"
                        class="form-control form-control-lg" name="email" [value]="emailAccesoRapido" />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example27">Contraseña</label>
                      <input [(ngModel)]="usuario.password" name="password" type="password" id="form2Example27"
                        class="form-control form-control-lg" [value]="passwordAccesoRapido" />
                    </div>

                    <div class="pt-1 mb-4">
                      <button (click)="login()" class="btn btn-dark btn-lg btn-block" type="button">Ingresar</button>
                    </div>
                    <!-- <div class="pt-1 mb-4">
                      <button (click)="cargarDatos()" class="btn btn-dark btn-lg btn-block"  type="button">preguntados</button>
                    </div> -->

                    <a class="small text-muted" style="cursor: pointer;" (click)="accesoRapido()">Acceso Rapido</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No estas registrado? <a
                        style="color: #393f81; cursor: pointer;" (click)="registro()">¡Registrate!</a></p>
                  </form>
                </ng-container>

                <!-- Resto del contenido de la tarjeta -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>