<div class="container">
  <div class="d-flex justify-content-center">
    <p id="titulo_productos" class="h2">Juegos Disponibles</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div style="cursor: pointer;" class="card border border-5 rounded shadow-lg p-3 mb-5 bg-body rounded"
        (click)="irAhorcado()">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div style="cursor: pointer;" class="card border border-5 rounded shadow-lg p-3 mb-5 bg-body rounded"
        (click)="irAhorcado()">
        <div class="card-body">
          <h5 class="card-title">Mayor o Menor</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div style="cursor: pointer;" class="card border border-5 rounded shadow-lg p-3 mb-5 bg-body rounded"
        (click)="irAhorcado()">
        <div class="card-body">
          <h5 class="card-title">Preguntados</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div style="cursor: pointer;" class="card border border-5 rounded shadow-lg p-3 mb-5 bg-body rounded"
        (click)="irAhorcado()">
        <div class="card-body">
          <h5 class="card-title">Reacciona!</h5>
        </div>
      </div>
    </div>
    <!-- Agrega más tarjetas aquí si es necesario -->
  </div>
</div>

 