<div class="container">
    <div class="d-flex justify-content-center">
        <p id="titulo_productos" class="h2">Juegos Disponibles</p>
      </div>
    <div class="row"> 
      <div class="col-md-3">
        <div class="card border border-5 rounded shadow-lg p-3 mb-5 bg-body rounded">
          <div class="card-img">
            Juego 1
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border border-5 rounded shadow-lg p-3 mb-5 bg-body rounded">
          <div class="card-img">
            Juego 2
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border border-5 rounded shadow-lg p-3 mb-5 bg-body rounded">
          <div class="card-img">
            Juego 3
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border border-5 rounded shadow-lg p-3 mb-5 bg-body rounded">
          <div class="card-img">
            Juego 4
          </div>
        </div>
      </div>
    </div>
  </div>