<app-navbar></app-navbar>
<div class="container">
  <div class="container border border-5 rounded shadow-lg p-3 mb-5 rounded">
    <div class="row">
      <div class="col-md-8">
        <div class="text-center">
          <p id="titulo_productos" class="h1 text-center">Ahorcado</p>
        </div>
      </div>
      <form>
        <div class="form-group">
          <label for="palabraGuionada">Palabra:</label>
          <input type="text" id="palabraGuionada" class="form-control" [value]="palabraGuionada.join(' ')"
            name="palabraGuionada" readonly>
        </div>
        <div class="form-group">
          <label for="letrasUtilizadas">Letras ya utilizadas</label>
          <input type="text" id="letrasUtilizadas" class="form-control" [value]="letrasUtilizadas.join(' ')"
            name="letrasUtilizadas" readonly>
        </div>
        <div class="form-group">
          <label for="intentosRestantes">Intentos Restantes</label>
          <input type="text" id="intentosRestantes" class="form-control" [value]="intentosRestantes"
            name="intentosRestantes" readonly>
        </div> 
        <div class="container d-flex flex-wrap justify-content-center mt-2">
          <div *ngFor="let letra of abecedario">
            <app-boton-letra [letra]="letra" (click)="verificarLetra(letra)"></app-boton-letra>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>